<h1>Created events</h1>

<% @events.each do |event| %>
  <%= render event %>
  <%= link_to "Show Detail", event_path(event) %>
<% end %>

<h1>Past events:</h1>
<ul>
  <% current_user.attended_events.past.each do |event| %>
    <li><%= event %></li>
  <% end %>
</ul>

<h1>Upcoming events:</h1>
<ul>
  <% current_user.attended_events.upcoming.each do |event| %>
    <li><%= event %></li>
  <% end %>
</ul>
