<div>
    <p>Location: <%= event.location %></p>
    <p>Date: <%= event.date %></p>

    <h2>Attendees:</h2>
    <ul>
      <% event.attendees.each do |attendee| %>
        <li><%= attendee %></li>
      <% end %>
    </ul>
</div>
