<div>
    <p>Location: <%= event.location %></p>
    <p>Date: <%= event.date %></p>

    <%= button_to "Update", edit_event_path(event) %>
    <%= button_to "Delete", event, method: :delete %>
</div>
