<p>Event details</p>

<%= render @event %>
<h2>Attendees:</h2>
<ul>
  <% if @event.attendees.empty? %>
    <li>Its empty.</li>
  <% else %>
    <% @event.attendees.each do |attendee| %>
      <li><%= attendee %></li>
    <% end %>
  <% end %>
</ul>
